# Azure Pipeline for Python Hello World
# This pipeline runs the helloworld.py script

trigger:
  - main  # Trigger on commits to main branch

pool:
  vmImage: 'ubuntu-latest'  # Use the latest Ubuntu VM image

variables:
  pythonVersion: '3.x'  # Use the latest Python 3.x version

stages:
  - stage: Build
    displayName: 'Build and Run'
    jobs:
      - job: RunPythonScript
        displayName: 'Run Hello World Script'
        steps:
          - task: UsePythonVersion@0
            displayName: 'Set up Python $(pythonVersion)'
            inputs:
              versionSpec: '$(pythonVersion)'
              addToPath: true
          
          - script: |
              python --version
              echo "Running helloworld.py..."
              python helloworld.py
            displayName: 'Execute Python Script'
            workingDirectory: $(System.DefaultWorkingDirectory)
          
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Script Output'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'
            condition: succeededOrFailed()
